# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/apps/web/.next/
/apps/web/public/vendor/material-icon-theme/
/apps/web/public/file-viewer/
/apps/desktop-renderer/.next/
/apps/desktop-renderer/out/
/apps/desktop-renderer/public/vendor/material-icon-theme/
/apps/desktop-renderer/public/file-viewer/

# production
/build
/apps/desktop-tauri/dist/
/apps/desktop-tauri/src-tauri/.sidecar-envelope-*/
/apps/desktop-tauri/src-tauri/binaries/
/apps/desktop-tauri/src-tauri/gen/
/apps/desktop-tauri/src-tauri/resources/runtime/
/apps/desktop-tauri/src-tauri/target/
/.desktop-build
/.electron-build
/dist-electron

# misc
.DS_Store
*.pem
/.codex/
/.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/

# Turborepo
.turbo
